/* Fonts */

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2"),
       url(../fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2"),
       url(../fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Playfair Display";

  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Regular.woff2) format("woff2"),
       url(../fonts/PlayfairDisplay-Regular.woff) format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Playfair Display";

  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Italic.woff2) format("woff2"),
       url(../fonts/PlayfairDisplay-Italic.woff) format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Playfair Display";

  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Bold.woff2) format("woff2"),
       url(../fonts/PlayfairDisplay-Bold.woff) format("woff");
}

/* common */

body {
  margin: 0;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  color: #ae7c78;

  background-color: #ffffff;
}

/* visually-hidden */

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
