/* Fonts */

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
       url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
       url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Playfair Display";

  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
       url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Playfair Display";

  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
       url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Playfair Display";

  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
       url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
}

/* common */

body {
  margin: 0;

  font: 16px/1.2 "Montserrat", Arial, sans-serif;
  color: #ae7c78;

  background-color: #ffffff;
}

/* visually-hidden */

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* button */

.button {
  display: inline-block;
  width: 285px;
  padding: 30px;
  box-sizing: border-box;

  color: #ffffff;
  text-align: center;

  background-color: #d89999;
  border-radius: 40px;

  text-decoration: none;
}

/* main-navigation */

.main-navigation__list {
  margin: 0;
  padding: 16px 0;

  border-top: solid 1px #ae7c78;
  border-bottom: solid 1px #ae7c78;

  list-style: none;
}

.main-navigation__link {
  color: inherit;

  text-decoration: none;
}

.main-navigation--footer .main-navigation__link {
  color: #ffffff;
}

/* hero */

.hero__title {
  font: 400 44px "Playfair Display", Arial, sans-serif;
}

.hero__description {
  font-size: 24px;
}

/* features */

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  padding-left: 20px;
  position: relative;
}

.features__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 52px; /* Временное свойство для прототипирования */
  height: 52px;

  background-color: #d89999; /* Временное свойство для прототипирования */

  transform: translateX(-100%);
}

.features__item-title {
  font-weight: 500;
}

/* popular */

.popular__title {
  font: 700 36px "Playfair Display", Arial, sans-serif;
  letter-spacing: 0.72px;
}

.popular__button {
  width: 50px;
  height: 15px;
  padding: 0;

  background-color: #ae7c78;
  border: none;

  cursor: pointer;
}

.popular__button--previous {
  mask: url('../images/img/interactive/arrow-left.svg') no-repeat center/cover;
}

.popular__button--next {
  mask: url('../images/img/interactive/arrow-right.svg') no-repeat center/cover;
}

/* bouquet */

.bouquet__title {
  font-size: 24px;
  font-weight: 500;
}

.bouquet__price {
  font-size: 24px;
  font-weight: 500;
}

/* categories */

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  background: rgba(174, 124, 120, 0.60);
}

.categories__item-link {
  color: #ffffff;

  text-decoration: none;
}

.categories__item-title {
  font: 700 36px "Playfair Display", Arial, sans-serif;
  letter-spacing: 0.72px;
}

/* promo-offer */

.promo-offer {
  font-size: 24px;
  color: #ffffff;

  background: #ae7c78;
}

.promo-offer__title {
  font: 400 44px "Playfair Display", Arial, sans-serif;
  letter-spacing: 0.88px;
}

/* order-steps */

.order-steps__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-steps__item {
  padding-top: 8px;
  position: relative;
}

.order-steps__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 52px; /* Временное свойство для прототипирования */
  height: 52px;

  background-color: #d89999; /* Временное свойство для прототипирования */

  transform: translateY(-100%);
}

.order-steps__item-title {
  font-weight: 500;
}

/* following-news */

.following-news {
  font-size: 24px;
}

.following-news__title {
  font: 700 36px "Playfair Display", Arial, sans-serif;
  letter-spacing: 0.72px;
}

/* social-list */

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__link {
  display: block;
  width: 30px;
  height: 30px;

  background-color: #d89999;
}

.social-list--footer .social-list__link {
  background-color: #ffffff;
}

.social-list__link--instagram {
  mask: url("../images/img/social/instagram-icon.svg") no-repeat center / 20px 20px;
}

.social-list__link--facebook {
  mask: url("../images/img/social/facebook-icon.svg") no-repeat center / 20px 20px;
}

.social-list__link--twitter {
  mask: url("../images/img/social/twitter-icon.svg") no-repeat center / 25px 20px;
}

/* reviews */

.reviews {
  border: 1px solid #ae7c78;
}

.reviews__title {
  font: 700 36px "Playfair Display", Arial, sans-serif;
  letter-spacing: 0.72px;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__author {
  font-weight: 500;
}

/* contact-info */

.contact-info__title {
  font: 700 36px "Playfair Display", Arial, sans-serif;
  font-weight: 700;
}

.contact-info__address {
  font-style: normal;
}

.contact-info__item-info {
  margin: 0;

  font-weight: 500;
}

.contact-info__item-link {
  color: inherit;

  text-decoration: none;
}

/* footer */

.footer {
  background: #ae7c78;
}
